.searchpage{
    background-color: rgb(224, 224, 224);
}

.resultbox {
    background-color: rgb(227, 227, 227);
    text-align: left;
    border: black ridge 1px;
    border-radius: 10px;
    margin: 3px;
    width: 20rem;
    padding-left: 10px;
  }